*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.header{
    display: flex;
    justify-content: space-around;
    background-color: dimgray;
   padding: 20px 0;
}
.nav {
    display: flex;
    list-style:none;
}
.nav > li{
    margin-left: 15px;

}
.nav > li:first-child{
    margin-left: 0;
}

.main{
    height: calc(100vh - 160px);
}

.h1{
    padding-top: 30px;
    text-align: center;
}
.title{
    text-align: center;
}
.footer{
    display:flex;
    flex-direction: column;
   height: 100px;
   background-color:grey;
}

.copyrights{
  text-align: center;}